LSE Data Science Institute | DS105W (2023/24) | Week 03

# üóìÔ∏è Week 03 ‚Äì Data types, File formats, Git and markdown

Theme: Behind the scenes

**DATE:** 31 January 2024

**AUTHOR:** [@jonjoncardoso](https://jonjoncardoso.github.io)

------------------------------

## ‚öôÔ∏è Setup

Let's start by importing the libraries we will use today:

In [5]:

import pandas as pd

üí° We can run **Terminal** comands inside Jupyter notebook!!!! All you need to do is to add a `!` before the command. The code will no longer be interpreted as Python code, but as a Terminal command.

In [1]:
%%bash
!ls -lh

Couldn't find program: 'bash'

In [2]:
%%bash 
!cd data && ls -lh

Couldn't find program: 'bash'

But be careful! Even if you `cd`, you will not change the directory of the notebook. The `pwd` will always remain the same:

In [6]:
!pwd

'pwd' is not recognized as an internal or external command,
operable program or batch file.

## 1. We need good datasets


> üìí A **dataset** is simply a collection of data.

- But just having a collection of data is not enough...

### We need <ins>organised</ins> datasets 

Otherwise, we won't be at our most productive in subsequent stages of the data science workflow. 

Soon, you will start collecting data. You will notice first-hand how messy data can be.

<svg width="960" height="384" viewBox="0.00 0.00 1104.31 425.00" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" style="; max-width: none; max-height: none; display: block; margin: auto auto auto auto">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(36 389)"> <polygon fill="white" stroke="transparent" points="-36,36 -36,-389 1068.31,-389 1068.31,36 -36,36"></polygon> <!-- start --> <g id="node1" class="node">
<title>
start
</title>
<polygon fill="#f2eaf6" stroke="#f2eaf6" points="73.98,-353 8.43,-353 8.43,-301 73.98,-301 73.98,-353"></polygon> <text text-anchor="middle" x="41.21" y="-321" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">Start</text> </g> <!-- gather --> <g id="node2" class="node">
<title>
gather
</title>
<text text-anchor="start" x="14" y="-232" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">Gather</text> <text text-anchor="middle" x="41.21" y="-208" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">data &nbsp;</text> </g> <!-- start&#45;&gt;gather --> <g id="edge8" class="edge">
<title>
start-&gt;gather
</title>
<path fill="none" stroke="#8431a6" stroke-width="4" d="M41.21,-300.76C41.21,-292.69 41.21,-283.47 41.21,-274.35"></path> <polygon fill="#8431a6" stroke="#8431a6" stroke-width="4" points="44.71,-274.16 41.21,-264.16 37.71,-274.16 44.71,-274.16"></polygon> </g> <!-- store --> <g id="node3" class="node">
<title>
store
</title>
<text text-anchor="start" x="134.54" y="-232" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">Store it &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text> <text text-anchor="middle" x="186.21" y="-208" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">somewhere</text> </g> <!-- gather&#45;&gt;store --> <g id="edge1" class="edge">
<title>
gather-&gt;store
</title>
<path fill="none" stroke="#8431a6" stroke-width="4" d="M82.76,-226C91.36,-226 100.68,-226 110.08,-226"></path> <polygon fill="#8431a6" stroke="#8431a6" stroke-width="4" points="110.29,-229.5 120.29,-226 110.29,-222.5 110.29,-229.5"></polygon> <text text-anchor="middle" x="101.48" y="-233.2" font-family="Helvetica,Arial,sans-serif" font-size="14.00"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text> </g> <!-- clean --> <g id="node4" class="node">
<title>
clean
</title>
<text text-anchor="start" x="304.6" y="-232" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">Clean &amp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text> <text text-anchor="middle" x="358.21" y="-208" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">pre-process</text> </g> <!-- store&#45;&gt;clean --> <g id="edge2" class="edge">
<title>
store-&gt;clean
</title>
<path fill="none" stroke="#8431a6" stroke-width="4" d="M252.21,-226C261.4,-226 270.9,-226 280.28,-226"></path> <polygon fill="#8431a6" stroke="#8431a6" stroke-width="4" points="280.38,-229.5 290.38,-226 280.38,-222.5 280.38,-229.5"></polygon> <text text-anchor="middle" x="271.24" y="-233.2" font-family="Helvetica,Arial,sans-serif" font-size="14.00"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text> </g> <!-- build --> <g id="node5" class="node">
<title>
build
</title>
<polygon fill="#8431a6" stroke="transparent" points="556.04,-264 464.38,-264 464.38,-188 556.04,-188 556.04,-264"></polygon> <text text-anchor="start" x="478.54" y="-232" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#fcfcfc">Build a </text> <text text-anchor="middle" x="510.21" y="-208" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#fcfcfc">dataset</text> </g> <!-- clean&#45;&gt;build --> <g id="edge3" class="edge">
<title>
clean-&gt;build
</title>
<path fill="none" stroke="#8431a6" stroke-width="4" d="M426.2,-226C435.62,-226 445.21,-226 454.37,-226"></path> <polygon fill="#8431a6" stroke="#8431a6" stroke-width="4" points="454.51,-229.5 464.51,-226 454.51,-222.5 454.51,-229.5"></polygon> <text text-anchor="middle" x="445.18" y="-233.2" font-family="Helvetica,Arial,sans-serif" font-size="14.00"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text> </g> <!-- eda --> <g id="node6" class="node">
<title>
eda
</title>
<text text-anchor="start" x="452.44" y="-119" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">Exploratory &nbsp;&nbsp;&nbsp;</text> <text text-anchor="middle" x="510.21" y="-95" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">data analysis</text> </g> <!-- build&#45;&gt;eda --> <g id="edge4" class="edge">
<title>
build-&gt;eda
</title>
<path fill="none" stroke="#8431a6" stroke-width="4" d="M510.21,-187.73C510.21,-179.31 510.21,-170.26 510.21,-161.48"></path> <polygon fill="#8431a6" stroke="#8431a6" stroke-width="4" points="513.71,-161.36 510.21,-151.36 506.71,-161.36 513.71,-161.36"></polygon> </g> <!-- ml --> <g id="node7" class="node">
<title>
ml
</title>
<text text-anchor="start" x="634.22" y="-119" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">Machine</text> <text text-anchor="middle" x="669.21" y="-95" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">learning</text> </g> <!-- eda&#45;&gt;ml --> <g id="edge5" class="edge">
<title>
eda-&gt;ml
</title>
<path fill="none" stroke="#8431a6" stroke-width="4" d="M581.8,-113C591.14,-113 600.63,-113 609.75,-113"></path> <polygon fill="#8431a6" stroke="#8431a6" stroke-width="4" points="609.85,-116.5 619.85,-113 609.85,-109.5 609.85,-116.5"></polygon> <text text-anchor="middle" x="601.1" y="-120.2" font-family="Helvetica,Arial,sans-serif" font-size="14.00"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text> </g> <!-- insight --> <g id="node8" class="node">
<title>
insight
</title>
<text text-anchor="start" x="770.49" y="-119" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">Obtain &nbsp;&nbsp;</text> <text text-anchor="middle" x="805.21" y="-95" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">insights</text> </g> <!-- ml&#45;&gt;insight --> <g id="edge6" class="edge">
<title>
ml-&gt;insight
</title>
<path fill="none" stroke="#8431a6" stroke-width="4" d="M718.31,-113C727.26,-113 736.69,-113 745.91,-113"></path> <polygon fill="#8431a6" stroke="#8431a6" stroke-width="4" points="746.18,-116.5 756.18,-113 746.18,-109.5 746.18,-116.5"></polygon> <text text-anchor="middle" x="737.34" y="-120.2" font-family="Helvetica,Arial,sans-serif" font-size="14.00"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text> </g> <!-- communicate --> <g id="node9" class="node">
<title>
communicate
</title>
<text text-anchor="start" x="906.11" y="-119" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">Communicate</text> <text text-anchor="middle" x="962.21" y="-95" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">results &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text> </g> <!-- insight&#45;&gt;communicate --> <g id="edge7" class="edge">
<title>
insight-&gt;communicate
</title>
<path fill="none" stroke="#8431a6" stroke-width="4" d="M854.02,-113C862.88,-113 872.33,-113 881.82,-113"></path> <polygon fill="#8431a6" stroke="#8431a6" stroke-width="4" points="882.1,-116.5 892.1,-113 882.1,-109.5 882.1,-116.5"></polygon> <text text-anchor="middle" x="873.02" y="-120.2" font-family="Helvetica,Arial,sans-serif" font-size="14.00"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text> </g> <!-- end --> <g id="node10" class="node">
<title>
end
</title>
<polygon fill="#f2eaf6" stroke="#f2eaf6" points="989.21,-38 935.21,-38 935.21,0 989.21,0 989.21,-38"></polygon> <text text-anchor="middle" x="962.21" y="-13" font-family="Helvetica,Arial,sans-serif" font-size="20.00" fill="#8431a6">End</text> </g> <!-- communicate&#45;&gt;end --> <g id="edge9" class="edge">
<title>
communicate-&gt;end
</title>
<path fill="none" stroke="#8431a6" stroke-width="4" d="M962.21,-74.85C962.21,-65.94 962.21,-56.57 962.21,-48.15"></path> <polygon fill="#8431a6" stroke="#8431a6" stroke-width="4" points="965.71,-48.09 962.21,-38.09 958.71,-48.09 965.71,-48.09"></polygon> </g> </g>
</svg>

üåê Click [here](https://opendata.camden.gov.uk/Crime-and-Criminal-Justice/On-Street-Crime-In-Camden-Map/893b-tp33) to view the **Open Street Crime Map** data for Camden, London. We will use this resource as an example to explore different file formats.

## File format: CSV

Let's start by exporting the crime data as a CSV file.

Place the downloaded file in the `./data` folder of your project (create this folder if it doesn't exist yet)

**We downloaded a CSV file. The [pandas documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas-read-csv) suggests we can use the `read_csv()` function to read it:**

In [6]:
df_street_crime = pd.read_csv("https://opendata.camden.gov.uk/api/views/893b-tp33/rows.csv?accessType=DOWNLOAD")

C:\Users\danie\AppData\Local\Temp\ipykernel_23696\2327099233.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_street_crime = pd.read_csv("https://opendata.camden.gov.uk/api/views/893b-tp33/rows.csv?accessType=DOWNLOAD")

üó£Ô∏è **CLASSROOM DISCUSSION:** What does the message above mean? Is it an error? How can I know?

<details><summary>Click here to see a possible answer</summary>

To understand the error above, we need to understand the concept of `dtype` (data type). When reading the file, the üêº pandas library tries to infer a lot of things about the data. 

Since the file ends with `.csv`, a **structured data format**, üêº pandas assumes a few things:

1. this is a **C**omma-**S**eparated **V**alues file, which is a fancy way to say that the data is separated by commas (`,`).

2. on top of the commas, the data is also separated by **new lines** (`\n`)

3. each line represents a **row** of data, an individual **observation**

4. the very first row is special. It contains the **column names**. Each column name is separated by, again, a comma (`,`)

5. _the data in each column is of the same **type**._

üí° The message above is not an Error, but a Warning and it seems connected with Assumption 5. üêº pandas is trying to infer the data type of each column, it fails to do so but it still manages to read the file.

</details>

We can confirm that the file was read by checking out the first 5 rows of the data:

In [7]:
df_street_crime.head()

,Category,Street ID,Street Name,Context,Outcome Category,Outcome Date,Service,Location Subtype,ID,Persistent ID,Epoch,Ward Code,Ward Name,Easting,Northing,Longitude,Latitude,Spatial Accuracy,Last Uploaded,Location
0,Other theft,1489515,Kings Cross (station),NaN,Status update unavailable,01/08/2017,British Transport Police,Station,64777250,NaN,01/04/2017,E05000143,St Pancras and Somers Town,530277.37,183101.39,-0.123189,51.531800,This is only an approximation of where the cri...,11/07/2018,"(51.5318, -0.123189)"
1,Anti-social behaviour,960522,On or near Wellesley Place,NaN,NaN,NaN,Police Force,NaN,51520755,NaN,01/09/2016,E05000143,St Pancras and Somers Town,529707.23,182682.77,-0.131558,51.528169,This is only an approximation of where the cri...,11/07/2018,"(51.528169, -0.131558)"
2,Theft from the person,965233,On or near Avenue Road,NaN,Investigation complete; no suspect identified,01/08/2015,Police Force,NaN,42356413,915131bf174019fd2fcf5aa4af305f7b2b34a763d8fcb0...,01/07/2015,E05000144,Swiss Cottage,526716.88,184227.86,-0.174124,51.542741,This is only an approximation of where the cri...,05/05/2016,"(51.542741, -0.174124)"
3,Anti-social behaviour,960974,On or near Birkenhead Street,NaN,NaN,NaN,Police Force,NaN,59431385,NaN,01/08/2017,E05000141,King's Cross,530390.22,182860.71,-0.121652,51.529611,This is only an approximation of where the cri...,03/11/2017,"(51.529611, -0.121652)"
4,Drugs,972275,On or near Oakeshott Avenue,NaN,Offender given a drugs possession warning,01/06/2015,Police Force,NaN,41931981,bd5bef6ee7b3711e69ecfc40c1c256d45336f23aeda337...,01/06/2015,E05000137,Highgate,528335.87,186805.94,-0.149851,51.565544,This is only an approximation of where the cri...,21/08/2015,"(51.565544, -0.149851)"

**How do I get a list of column names**

In [8]:
df_street_crime.columns

Index(['Category', 'Street ID', 'Street Name', 'Context', 'Outcome Category',
       'Outcome Date', 'Service', 'Location Subtype', 'ID', 'Persistent ID',
       'Epoch', 'Ward Code', 'Ward Name', 'Easting', 'Northing', 'Longitude',
       'Latitude', 'Spatial Accuracy', 'Last Uploaded', 'Location'],
      dtype='object')

In [10]:
df_street_crime.columns.to_list()

['Category',
 'Street ID',
 'Street Name',
 'Context',
 'Outcome Category',
 'Outcome Date',
 'Service',
 'Location Subtype',
 'ID',
 'Persistent ID',
 'Epoch',
 'Ward Code',
 'Ward Name',
 'Easting',
 'Northing',
 'Longitude',
 'Latitude',
 'Spatial Accuracy',
 'Last Uploaded',
 'Location']

Do you want to know how many columns are there? Use the function `len()`

In [9]:
len(df_street_crime.columns)

20

**What if I just want to see a few columns?**

In [12]:
selected_columns = ["Category", "Street ID", "Street Name", "Outcome Category", "Outcome Date", "Location"]

# Save to illustrate how CSV looks like in raw format
df_street_crime[selected_columns].head(10)

,Category,Street ID,Street Name,Outcome Category,Outcome Date,Location
0,Other theft,1489515,Kings Cross (station),Status update unavailable,01/08/2017,"(51.5318, -0.123189)"
1,Anti-social behaviour,960522,On or near Wellesley Place,NaN,NaN,"(51.528169, -0.131558)"
2,Theft from the person,965233,On or near Avenue Road,Investigation complete; no suspect identified,01/08/2015,"(51.542741, -0.174124)"
3,Anti-social behaviour,960974,On or near Birkenhead Street,NaN,NaN,"(51.529611, -0.121652)"
4,Drugs,972275,On or near Oakeshott Avenue,Offender given a drugs possession warning,01/06/2015,"(51.565544, -0.149851)"
5,Anti-social behaviour,965090,On or near Hawley Mews,NaN,NaN,"(51.542507, -0.146589)"
6,Violence and sexual offences,967816,On or near Maitland Park Villas,Under investigation,01/06/2017,"(51.548264, -0.156365)"
7,Vehicle crime,967555,On or near Ferncroft Avenue,Investigation complete; no suspect identified,01/02/2016,"(51.558504, -0.191468)"
8,Theft from the person,965140,On or near Nightclub,Under investigation,01/04/2018,"(51.541352, -0.14629)"
9,Other theft,965052,On or near Brocas Close,Investigation complete; no suspect identified,01/05/2016,"(51.543954, -0.165408)"

**Let's save this reduced dataset as a CSV file**

In [17]:
df_street_crime[selected_columns].to_csv("./data/reduced_crime_data_index.csv")

In [16]:
df_street_crime[selected_columns].to_csv("./data/reduced_crime_data.csv", index = False)

What does the dataset looks like in its true form? (Not when read by Pandas)

Let's use the `head` command to see the first 5 lines of the file:

In [15]:
!head ./data/reduced_crime_data.csv

'head' is not recognized as an internal or external command,
operable program or batch file.

## Data Types

We can also get more info about what is stored in the `df_street_crime` variable by using the `info()` method:

In [19]:
df_street_crime.info()
df_street_crime.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409752 entries, 0 to 409751
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Category          409752 non-null  object
 1   Street ID         409752 non-null  int64
 2   Street Name       409752 non-null  object
 3   Context           0 non-null       float64
 4   Outcome Category  316285 non-null  object
 5   Outcome Date      316285 non-null  object
 6   Service           409752 non-null  object
 7   Location Subtype  15697 non-null   object
 8   ID                409752 non-null  int64
 9   Persistent ID     291898 non-null  object
 10  Epoch             409752 non-null  object
 11  Ward Code         409752 non-null  object
 12  Ward Name         409752 non-null  object
 13  Easting           409752 non-null  float64
 14  Northing          409752 non-null  float64
 15  Longitude         409752 non-null  float64
 16  Latitude          409752 non-null  float64
 17  Spatial Accuracy  409752 non-null  object
 18  Last Uploaded     409752 non-null  object
 19  Location          409752 non-null  object
dtypes: float64(5), int64(2), object(13)
memory usage: 62.5+ MB

,Street ID,Context,ID,Easting,Northing,Longitude,Latitude
count,4.097520e+05,0.0,4.097520e+05,409752.000000,409752.000000,409752.000000,409752.000000
mean,1.125389e+06,NaN,7.718926e+07,528794.310783,183488.945185,-0.144427,51.535622
std,3.141758e+05,NaN,2.247643e+07,1646.471524,1407.168030,0.023390,0.012897
min,5.875900e+05,NaN,3.874200e+07,524016.330000,180979.780000,-0.212576,51.512785
25%,9.609240e+05,NaN,5.893932e+07,528111.860000,182282.710000,-0.153660,51.524452
50%,9.651520e+05,NaN,7.702738e+07,529210.660000,183614.720000,-0.138356,51.536861
75%,9.681450e+05,NaN,9.710521e+07,530029.200000,184598.870000,-0.127108,51.545929
max,2.346639e+06,NaN,1.150894e+08,531514.850000,187555.680000,-0.105902,51.572521

üó£Ô∏è **CLASSROOM DISCUSSION:** What part of the message above is related to the types of data stored in each column? And what does it mean?

<details><summary>Click here to read a possible answer</summary>

The `Dtype` column shows the data type of each column.

What is funny about the above is that pretty much all columns are of type `object`. This is üêº pandas way of saying "I don't know what data type this column is, I will treat it as text".

</details>

### Data Type: Integer

An integer is a whole number (not a fraction) that can be positive, negative, or zero.

At a lower level, at the computer's memory, an integer is represented by a **limited** sequence of bits (zeros and ones). I say limited because the number of bits used to represent an integer is fixed. See the `int64` notation under the 'Street ID' column? This means that the computer is using **64 individual bits** to represent each integer in that column.


<details><summary>Click here to see how Integers work</summary>


Suppose we only had 8 bits to represent an integer. The drawing below represents a single number, encoded in eight rectangular boxes. Each box represents a bit and they are colored in red if they have the number 1 and light grey if 0:

<span style="background-color: #e5e5e5; display:inline-block; width:800px; padding:0; box-sizing: border-box;vertical-align:bottom;">
            <span style="float:left; font-size:3em;font-weight:bold;background-color: #C63C4A; width:100px; color:white; border: 1px gray solid; padding-top:1em;padding-bottom:1em; box-sizing: border-box;text-align:center;">
                1
            </span>
            <span style="float:left; font-size:3em;font-weight:bold;background-color: #C63C4A; width:100px; color:white; border: 1px gray solid; padding-top:1em;padding-bottom:1em; box-sizing: border-box;text-align:center;">
                1
            </span>
            <span style="float:left; font-size:3em;font-weight:bold;width:100px; color:#212121; border: 1px gray solid; padding-top:1em;padding-bottom:1em; box-sizing: border-box;text-align:center;">
                0
            </span>
            <span style="float:left; font-size:3em;font-weight:bold;width:100px; color:#212121; border: 1px gray solid; padding-top:1em;padding-bottom:1em; box-sizing: border-box;text-align:center;">
                0
            </span>
            <span style="float:left; font-size:3em;font-weight:bold;width:100px; color:#212121; border: 1px gray solid; padding-top:1em;padding-bottom:1em; box-sizing: border-box;text-align:center;">
                0
            </span>
            <span style="float:left; font-size:3em;font-weight:bold;width:100px; color:#212121; border: 1px gray solid; padding-top:1em;padding-bottom:1em; box-sizing: border-box;text-align:center;">
                0
            </span>
            <span style="float:left; font-size:3em;font-weight:bold;background-color: #C63C4A; width:100px; color:white; border: 1px gray solid; padding-top:1em;padding-bottom:1em; box-sizing: border-box;text-align:center;">
                1
            </span>
            <span style="float:left; font-size:3em;font-weight:bold;width:100px; color:#212121; border: 1px gray solid; padding-top:1em;padding-bottom:1em; box-sizing: border-box;text-align:center;">
                0
            </span>
</span>

</details>

In [21]:
# Let's check a single column: 'Street ID'
print(df_street_crime["Street ID"].min(), df_street_crime["Street ID"].max())

587590 2346639

We can see that we need to use int32

What are all the different integer sizes supported?

- We would have to look at [numpy's documentation on Integer types](https://numpy.org/doc/stable/reference/arrays.scalars.html#integer-types). Pandas uses numpy under the hood to store data.

**What would be the most adequate integer type for the `Street ID` column?**

<details><summary>Click here to read spoilers</summary>

- Check the min and max of the column with the code:

    ```python
    df_street_crime['<column-name>'].min()
    ```
    
    ```python
    df_street_crime['<column-name>'].max()
    ```

- Learn how to convert a pandas column to a different data type using [.astype()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html)

</details>

In [25]:
df_street_crime["Street ID"] = df_street_crime["Street ID"].astype(int)
#type(df_street_crime["Street ID"])
df_street_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409752 entries, 0 to 409751
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Category          409752 non-null  object
 1   Street ID         409752 non-null  int32
 2   Street Name       409752 non-null  object
 3   Context           0 non-null       float64
 4   Outcome Category  316285 non-null  object
 5   Outcome Date      316285 non-null  object
 6   Service           409752 non-null  object
 7   Location Subtype  15697 non-null   object
 8   ID                409752 non-null  int64
 9   Persistent ID     291898 non-null  object
 10  Epoch             409752 non-null  object
 11  Ward Code         409752 non-null  object
 12  Ward Name         409752 non-null  object
 13  Easting           409752 non-null  float64
 14  Northing          409752 non-null  float64
 15  Longitude         409752 non-null  float64
 16  Latitude          409752 non-null  float64
 17  Spatial Accuracy  409752 non-null  object
 18  Last Uploaded     409752 non-null  object
 19  Location          409752 non-null  object
dtypes: float64(5), int32(1), int64(1), object(13)
memory usage: 61.0+ MB

üó£Ô∏è **What do you think would happen if I tried to conver this column to `np.int8` instead??**

### Data Type: [Floating Point types](https://numpy.org/doc/stable/reference/arrays.scalars.html#floating-point-types)

üí° Tip: '[Why is my addition/multiplication not working??](https://stackoverflow.com/a/52931828/843365)'

In [26]:
df_street_crime['Easting']

0         530277.37
1         529707.23
2         526716.88
3         530390.22
4         528335.87
            ...
409747    525306.26
409748    529827.27
409749    527538.27
409750    529703.23
409751    525872.24
Name: Easting, Length: 409752, dtype: float64

### Data Type: [Text/strings(object)](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html)

Without getting into the specifics of how üêº pandas represents text, it is important that you learn about encodings!

That is because, text is of course also represented as a sequence of bits. But how do we know which sequence of bits represents which character?

##### ASCII table

- The ASCII table is one of early standards
- It encodes **characters** using 7-bits. Therefore, it can represent a total of 128 unique characters

Here is a snippet of the ASCII table:

<details style="margin-left:2em;font-size:0.75em;"><summary> Click here to see Part I of the ASCII table</summary>

|   Dec |   Binary | Char   | Description               |
|------:|---------:|:-------|:--------------------------|
|     0 |  0000000 | NUL    | Null                      |
|     1 |  0000001 | SOH    | Start of Header           |
|     2 |  0000010 | STX    | Start of Text             |
|     3 |  0000011 | ETX    | End of Text               |
|     4 |  0000100 | EOT    | End of Transmission       |
|     5 |  0000101 | ENQ    | Enquiry                   |
|     6 |  0000110 | ACK    | Acknowledge               |
|     7 |  0000111 | BEL    | Bell                      |
|     8 |  0001000 | BS     | Backspace                 |
|     9 |  0001001 | HT     | Horizontal Tab            |
|    10 |  0001010 | LF     | Line Feed                 |
|    11 |  0001011 | VT     | Vertical Tab              |
|    12 |  0001100 | FF     | Form Feed                 |
|    13 |  0001101 | CR     | Carriage Return           |
|    14 |  0001110 | SO     | Shift Out                 |
|    15 |  0001111 | SI     | Shift In                  |
|    16 |  0010000 | DLE    | Data Link Escape          |
|    17 |  0010001 | DC1    | Device Control 1          |
|    18 |  0010010 | DC2    | Device Control 2          |
|    19 |  0010011 | DC3    | Device Control 3          |
|    20 |  0010100 | DC4    | Device Control 4          |
|    21 |  0010101 | NAK    | Negative Acknowledge      |
|    22 |  0010110 | SYN    | Synchronize               |
|    23 |  0010111 | ETB    | End of Transmission Block |
|    24 |  0011000 | CAN    | Cancel                    |
|    25 |  0011001 | EM     | End of Medium             |
|    26 |  0011010 | SUB    | Substitute                |
|    27 |  0011011 | ESC    | Escape                    |
|    28 |  0011100 | FS     | File Separator            |
|    29 |  0011101 | GS     | Group Separator           |
|    30 |  0011110 | RS     | Record Separator          |
|    31 |  0011111 | US     | Unit Separator            |


</details>

<br>

<details style="margin-left:2em;font-size:0.75em;"><summary> Click here to see Part II of the ASCII table</summary>

|   Dec |   Binary | Char   | Description       |
|------:|---------:|:-------|:------------------|
|    32 |  0100000 | space  | Space             |
|    33 |  0100001 | !      | exclamation mark  |
|    34 |  0100010 | "      | double quote      |
|    35 |  0100011 | #      | number            |
|    36 |  0100100 | $      | dollar            |
|    37 |  0100101 | %      | percent           |
|    38 |  0100110 | &      | ampersand         |
|    39 |  0100111 | '      | single quote      |
|    40 |  0101000 | (      | left parenthesis  |
|    41 |  0101001 | )      | right parenthesis |
|    42 |  0101010 | *      | asterisk          |
|    43 |  0101011 | +      | plus              |
|    44 |  0101100 | ,      | comma             |
|    45 |  0101101 | -      | minus             |
|    46 |  0101110 | .      | period            |
|    47 |  0101111 | /      | slash             |
|    48 |  0110000 | 0      | zero              |
|    49 |  0110001 | 1      | one               |
|    50 |  0110010 | 2      | two               |
|    51 |  0110011 | 3      | three             |
|    52 |  0110100 | 4      | four              |
|    53 |  0110101 | 5      | five              |
|    54 |  0110110 | 6      | six               |
|    55 |  0110111 | 7      | seven             |
|    56 |  0111000 | 8      | eight             |
|    57 |  0111001 | 9      | nine              |
|    58 |  0111010 | :      | colon             |
|    59 |  0111011 | ;      | semicolon         |
|    60 |  0111100 | <      | less than         |
|    61 |  0111101 | =      | equality sign     |
|    62 |  0111110 | >      | greater than      |
|    63 |  0111111 | ?      | question mark     |

</details>

Click [here](https://www.ascii-code.com/) to see the full thing.

##### Other encoding standards

ASCII is not the only standard. There are other ways to encode text using binary.

Below is a non-comprehensive list of other text (**encoding**):

- Unicode
- UTF-8 (Most common of all)
- UTF-16
- UTF-32
- ISO-8859-1
- Latin-1

üîó [Here](https://docs.python.org/3/library/codecs.html#standard-encodings) is the full list of encoding standards supported by Python by default.


üí° You might have come across encoding mismatches before if you ever opened a file and the text looked like this:

> "Nestl√É¬© and M√É¬∂tley Cr√É¬ºe"

Where it should have read 

> "Nestl√© and  M√∂tley Cr√ºe"

##### Emojis are text üòÉ !

See the complete list on the [Unicode website](https://unicode.org/emoji/charts/full-emoji-list.html)

In [27]:
#As far as I know, this CSV file is free of non-standard characters, 
# so changing the encoding to something else should not change much.
# After all, most standards are supersets of ASCII.
pd.read_csv("./data/reduced_crime_data.csv", encoding="ascii", encoding_errors="strict")

,Category,Street ID,Street Name,Outcome Category,Outcome Date,Location
0,Other theft,1489515,Kings Cross (station),Status update unavailable,01/08/2017,"(51.5318, -0.123189)"
1,Anti-social behaviour,960522,On or near Wellesley Place,NaN,NaN,"(51.528169, -0.131558)"
2,Theft from the person,965233,On or near Avenue Road,Investigation complete; no suspect identified,01/08/2015,"(51.542741, -0.174124)"
3,Anti-social behaviour,960974,On or near Birkenhead Street,NaN,NaN,"(51.529611, -0.121652)"
4,Drugs,972275,On or near Oakeshott Avenue,Offender given a drugs possession warning,01/06/2015,"(51.565544, -0.149851)"
...,...,...,...,...,...,...
409747,Violence and sexual offences,1669139,On or near Parsifal Road,Investigation complete; no suspect identified,01/10/2023,"(51.55402, -0.193983)"
409748,Other theft,1678057,On or near Upper Woburn Place,Under investigation,01/10/2023,"(51.526497, -0.129896)"
409749,Anti-social behaviour,1673570,On or near Antrim Grove,NaN,NaN,"(51.548487, -0.162009)"
409750,Theft from the person,1677808,On or near Nightclub,Under investigation,01/10/2023,"(51.5169, -0.132077)"
409751,Anti-social behaviour,1670356,On or near Dresden Close,NaN,NaN,"(51.54931, -0.186006)"

### Data type: [Categorical](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html)

<details><summary>Click here to read spoilers</summary>

- How to show what is inside a column
- How to show just the unique values of a column (`df['<column-name>']unique()`)
- Count the number of unique values in a column (`df['<column-name>'].nunique()`)
- Count the number of times each unique value appears in a column (`df['<column-name>'].value_counts()`)

<details><summary>Hidden pro-tip</summary>

Here is how you can create a plot showing the percentage of each unique value in a column:

```python
df_street_crime['Category'].value_counts(normalize=True).apply(lambda x: x*100).plot(kind='bar')
```

</details>

</details>

In [45]:
print((list(df_street_crime['Category'].unique().value_counts().index), list(df_street_crime['Category'].unique())))

(['Anti-social behaviour', 'Bicycle theft', 'Burglary', 'Criminal damage and arson', 'Drugs', 'Other crime', 'Other theft', 'Possession of weapons', 'Public order', 'Robbery', 'Shoplifting', 'Theft from the person', 'Vehicle crime', 'Violence and sexual offences'], ['Other theft', 'Anti-social behaviour', 'Theft from the person', 'Drugs', 'Violence and sexual offences', 'Vehicle crime', 'Possession of weapons', 'Burglary', 'Robbery', 'Public order', 'Shoplifting', 'Other crime', 'Criminal damage and arson', 'Bicycle theft'])

**Converting to a Categorical data type.**

When data is clearly categorical (the hint for this one is in the name of the column), we can convert it to a Categorical data type. This might also make our life easier when we want to do some analysis on this column.

Here are the reasons the üêº pandas documentation on [Categorical Data](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html) says you should use it:

> The categorical data type is useful in the following cases:
>
> - A string variable consisting of only a few different values. Converting such a string variable to a categorical variable will save some memory, see here.
>
> - The lexical order of a variable is not the same as the logical order (‚Äúone‚Äù, ‚Äútwo‚Äù, ‚Äúthree‚Äù). By converting to a categorical and specifying an order on the categories, sorting and min/max will use the logical order instead of the lexical order, see here.
>
> - As a signal to other Python libraries that this column should be treated as a categorical variable (e.g. to use suitable statistical methods or plot types).

In [29]:
df_street_crime['Category'] = pd.Categorical(df_street_crime['Category'])

In [46]:
df_street_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409752 entries, 0 to 409751
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Category          409752 non-null  category
 1   Street ID         409752 non-null  int32
 2   Street Name       409752 non-null  object
 3   Context           0 non-null       float64
 4   Outcome Category  316285 non-null  object
 5   Outcome Date      316285 non-null  object
 6   Service           409752 non-null  object
 7   Location Subtype  15697 non-null   object
 8   ID                409752 non-null  int64
 9   Persistent ID     291898 non-null  object
 10  Epoch             409752 non-null  object
 11  Ward Code         409752 non-null  object
 12  Ward Name         409752 non-null  object
 13  Easting           409752 non-null  float64
 14  Northing          409752 non-null  float64
 15  Longitude         409752 non-null  float64
 16  Latitude          409752 non-null  float64
 17  Spatial Accuracy  409752 non-null  object
 18  Last Uploaded     409752 non-null  object
 19  Location          409752 non-null  object
dtypes: category(1), float64(5), int32(1), int64(1), object(12)
memory usage: 58.2+ MB

In [48]:
#Show that we can convert the `datetime` column to a `datetime` object:
df = df_street_crime
df["Outcome Date"] = pd.to_datetime(df["Outcome Date"])

# Make `Outcome Category` a categorical column
df["Outcome Category"] = df["Outcome Category"].astype("category")

In [49]:
df["Outcome Category"].cat.categories

Index(['Action to be taken by another organisation', 'Awaiting court outcome',
       'Court case unable to proceed', 'Court result unavailable',
       'Defendant found not guilty', 'Defendant sent to Crown Court',
       'Formal action is not in the public interest',
       'Further investigation is not in the public interest',
       'Investigation complete; no suspect identified', 'Local resolution',
       'Offender deprived of property', 'Offender fined',
       'Offender given a caution', 'Offender given a drugs possession warning',
       'Offender given absolute discharge',
       'Offender given community sentence',
       'Offender given conditional discharge', 'Offender given penalty notice',
       'Offender given suspended prison sentence',
       'Offender ordered to pay compensation', 'Offender otherwise dealt with',
       'Offender sent to prison', 'Status update unavailable',
       'Suspect charged as part of another case',
       'Unable to prosecute suspect', 'Under investigation'],
      dtype='object')

In [50]:
df.dtypes

Category                  category
Street ID                    int32
Street Name                 object
Context                    float64
Outcome Category          category
Outcome Date        datetime64[ns]
Service                     object
Location Subtype            object
ID                           int64
Persistent ID               object
Epoch                       object
Ward Code                   object
Ward Name                   object
Easting                    float64
Northing                   float64
Longitude                  float64
Latitude                   float64
Spatial Accuracy            object
Last Uploaded               object
Location                    object
dtype: object

In [ ]:
df["Outcome Date"].dt.day_name()

In [ ]:
df_as_list = df.astype(str).values.tolist()

with open("data/sample.txt", "w") as f:
    f.write("[")
    for item_list in df_as_list:
        f.write("[")
        f.write("','".join(item_list))
        f.write("'],\n")
    f.write("]")

## File format: JSON

Say we download the JSON version of the data. How should we read it as a Data Frame?

In [ ]:
from pathlib import Path
filepath = Path("./data/rows.json")

df = pd.read_json(filepath)

The path is correct but pandas could not parse things correctly. 

We have to find a workaround:

üëâ read the JSON file as a Python dictionary using the `json` library instead

In [ ]:
import json

with open("data/rows.json", "r") as read_file:
    data = json.load(read_file)

Check the data type of the variable `data`:

In [ ]:
type(data)

How many keys are there in the dictionary?

In [ ]:
len(data)

What are the keys?

In [ ]:
data.keys()

Conclusion: the data is the same but it is structured in a completely different way.

In [ ]:
# The actual data is in the `data` key
len(data["data"])

In [ ]:
# Here is how we could convert it to a DataFrame
pd.DataFrame(data["data"]).head(12)

Where did the column names go???

<details><summary>Read spoilers here</summary>

After much trial and error, I found out that the column names are stored in the `meta` key of the dictionary. But I have to go deeper:

```python
data["meta"]["view"]["columns"]
```

</details>

Is there a way to **normalise** this data?

Normalise = flatten the data structure

<details><summary>Read spoilers here</summary>

```python
df_columns = pd.io.json.json_normalize(data["meta"]["view"]["columns"])
df_columns.head(6)
```

</details>

Putting it all together:

<details><summary>See solution</summary>

```python
column_names = df_columns["name"].tolist()

df_crime = pd.DataFrame(data["data"], columns=column_names)

selected_columns = ["Category", "Street ID", "Street Name", "Outcome Category", "Outcome Date", "Location"]

print(df_crime[selected_columns].head().to_markdown(index=False))

```

In [ ]:
column_names = df_columns["name"].tolist()

df_crime = pd.DataFrame(data["data"], columns=column_names)

selected_columns = ["Category", "Street ID", "Street Name", "Outcome Category", "Outcome Date", "Location"]

print(df_crime[selected_columns].head().to_markdown(index=False))

We are back to where we were with the CSV file!

--------------

Tips for what's next:

- When solving your ‚úèÔ∏è [W04 Formative](https://moodle.lse.ac.uk/mod/assign/view.php?id=1210920), you will be asked to read a JSON file
- Use the `json` library to read the file
- Decide whether you want to navigate the data as a dictionary or convert it to a pandas DataFrame (your call)